div.inline{
	float: right;
	margin-left: 50px;
}

/*h3 {
	margin-top:-32px;
}*/

.btn-toolbar .btn {
	margin-top: 10px;
}

.selected {
	color: blue;
}

/*#days{
	margin-right: 50px;
}*/

#nameField {
	max-width: 160px;
}

#map-canvas {
	float: right;
	margin-top: 20px;
}

li {
 	list-style-type: none;
 }


#header {
	margin-bottom: 50px; 
}

/*h4 {
	margin-left: -50px; 
	margin-top: 20px;
}*/

.del {
	margin: 5px;
}

#days {
	margin-bottom: 20px;
}